.User_container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px; /* Slightly increased border radius for softer edges */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
}

h2 {
  color: #333;
  margin-bottom: 15px; /* Increased margin for better separation */
  font-size: 20px; /* Increased font size for heading */
}

.user_page1 {
  margin-bottom: 30px; /* Increased margin between sections */
}
.user_page2 {
  margin-bottom: 30px; /* Increased margin between sections */
}

.user_page1 input {
  margin-bottom: 10px; /* Hoặc sử dụng padding: 10px; nếu bạn muốn áp dụng khoảng cách bên trong input */
}
.user_page2 input {
  margin-bottom: 10px; /* Hoặc sử dụng padding: 10px; nếu bạn muốn áp dụng khoảng cách bên trong input */
}
